@import "../styles";

.form-wrapper {
  height: 88vh;
  @include flex(column);
  gap: 3em;
  background-color: var(--gray);
}

.form {
  @include flex(column);
  gap: 2em;
  border-radius: 10%;
  padding: 2em 2em;
  background-color: var(--white);
}

.form-title {
  padding: 0;
  margin: 0;
  font-size: 1.5em;
}

.form-input {
  width: 100%;
  border-radius: 10px;
  outline: none;
  background-color: #eee;
  border: none;
  font-size: 1.2em;
  padding: 0.4em 0.8em;
}

.submit-btn {
  background: linear-gradient(to left, var(--white) 50%, var(--primary) 50%)
    right;
  background-size: 200%;
  color: var(--black);
  border-radius: 10px;
  border: 2px solid black;
  width: 100%;
  padding: 1em 0;
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s all ease-out;
}

.submit-btn:hover {
  background-position: left;
}

.disable-submit-btn {
  cursor: not-allowed;
}

.disable-submit-btn:hover {
  background-position: right;
}

@media (max-width: 1024px) {
  .form-title {
    font-size: 1.5em;
  }
  .form-input {
    font-size: 1em;
  }
  .submit-btn {
    padding: 1.25em 0;
    font-size: 0.8em;
  }
}
