@import "../../styles/styles";

.nav {
  height: 12vh;
  width: 100%;
  @include flex;
}

.ul {
  margin: 0;
  list-style: none;
  width: 100%;
  @include flex(row, space-between);
  padding: 0em 2.5em;
  overflow: hidden;
}

.li {
  @include flex;
  gap: 2em;
  padding: 0.5em 0;
}

.link {
  text-decoration: none;
  color: #000;
  position: relative;
  font-size: 1.3em;
}

.link:visited,
.link:active {
  text-decoration: none;
  color: #000;
}

.logo {
  font-style: italic;
  text-decoration: none;
  padding-right: 0.8em;
  margin: 0;
  font-weight: 600;
  font-size: 1.6em;
  color: var(--primary);
  transition: none;
  cursor: pointer;
  &:visited,
  &:active {
    color: var(--primary);
  }
  &::after {
    transition: 0.5s ease-in-out;
    content: "";
    position: relative;
    width: 0%;
    bottom: -4px;
    height: 3px;
    display: block;
    background-color: var(--primary);
    margin: auto;
    z-index: 3;
  }
  &:hover::after {
    width: 100%;
  }
}

.link-active {
  text-decoration: none;
  color: #000;
  position: relative;
  font-size: 1.3em;
  &:active,
  &:visited {
    text-decoration: none;
    color: #000;
  }
  &::after {
    transition: 0.5s ease-in-out;
    content: "";
    position: relative;
    width: 100%;
    bottom: -4px;
    height: 3px;
    display: block;
    background-color: var(--primary);
    margin: auto;
  }
}

.nav-user-wrapper {
  @include flex;
  gap: 0.6em;
  > h3 {
    font-size: 1.3em;
  }
}

@media (max-width: 1024px) {
  .ul {
    padding: 0em 2em;
  }
  .li {
    gap: 1.5em;
  }
  .link {
    font-size: 1.1em;
  }
  .logo {
    padding-right: 0.7em;
    font-size: 1.4em;
  }
  .link-active {
    font-size: 1.1em;
  }
  .nav-user-wrapper {
    gap: 0.5em;
  }
  .nav-user-wrapper > h3 {
    font-size: 1.2em;
  }
}

@media (max-width: 786px) {
  .logo {
    font-size: 2em;
  }
  .bars-icon {
    width: 1.5em;
    cursor: pointer;
    z-index: 2;
  }
}
