@import "../styles";

.admin-form-div {
  width: 35%;
  @include flex(column);
  flex-wrap: wrap;
  gap: 3em;
  padding: 2em 1em;
  background-color: var(--white);
  border-radius: 10px;
}

.admin-form-title {
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.admin-form {
  width: 80%;
  @include flex(column);
  gap: 2em;
}

.change-score-wrapper {
  width: 100%;
  @include flex(column);
  gap: 1.5em;
}

.change-score-form {
  width: 100%;
  @include flex(row, space-between);
  gap: 1em;
}

.team-score-div {
  @include flex;
}

@media (max-width: 1024px) {
  .admin-form-title {
    font-size: 1.25em;
  }
}
