@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.App {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

@mixin flex($direction: row, $justify-content: center, $align-items: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

:root {
  --black: #000;
  --primary: #ffd700;
  --gray: #eee;
  --white: #fff;
}
